
body {
	display: grid;
	height: 100vh;
	width: 100%;
	margin: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	position: relative;
	animation: gradient 25s ease infinite;
	color: rgb(255, 255, 255);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form {
	position: relative;
	display: grid;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	max-width: 450px;
	min-width: 250px;
	width: 30vw;
	margin: auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(12px);
	box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
	
}

input, button {

	text-align: center;
	font-size: 16px;
	color: rgb(255, 255, 255);
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 20px auto;
	padding: 12px 20px;
	border: none;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
}

button {
	margin: 40px auto;
	
}

button:hover {
	background: rgba(255, 255, 255, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.2);

}

input:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
}

input:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

input::placeholder {
	color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
}

.forgot-signup {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

a:hover {
	color: rgb(255, 255, 255);
}
