{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Splinky</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Quicksand">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Roboto">

        <link rel="shortcut icon" type="image/png" href="{% static "slinky.png" %}"/>
    </head>
    <body>

        <nav>
            <ul class="navbar">
                <li style="max-height: 49px;"><a href="/" class="logo"><img src="{% static "slinky.png" %}" id="nav-logo"></a></li>
                <li><a href="/">Splinky</a></li>
                <li><a href="#">Feed</a></li>
                
            </ul>

            <ul class="navbar" id="search-ul">
                <div class="searchbar">
                    <i class="material-icons icon" id="search-icon">search</i>
                    <input id="search-input" type="text" placeholder="Search...">
                </div> 
            </ul>

            <div>
                <ul class="navbar">
                    {% if user.is_authenticated %}

                    <li><a href="/profile/{{request.user.username}}">{{request.user.first_name|title}}</a></li>
                    <li><a href="/logout">Log out</a> </li>
                    

                    {% else %}

                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Sign up</a></li>

                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        
    </body>
</html>