{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Sports Web App</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>

        <nav>
            <ul id="left-nav" class="navbar">
                <li><a href="/">Home</a></li>
            </ul>
            <div>
                <ul id="right-nav" class="navbar">
                    {% if user.is_authenticated %}

                    <li><a href="/logout">Logout</a> </li>
                    <li><a href="#">{{user.username}}</a></li>

                    {% else %}

                    <li><a href="/login">Login</a></li>

                    {% endif %}
                </ul>
            </div>
        </nav>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}

    </body>
</html>