{% extends "main/base.html" %}

{% block content %}      

{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}

<div class=container>
    <div class="form">
        <h1>Sign into Splinky</h1>
        <img src="{% static "slinky.png" %}" id="login-logo">
        <form method="POST">
            {% csrf_token %}
            {{ login_form }}
            <button type="submit" id="sign-in-button">Sign in</button>
            <div id="login-container-small">
                <a href="{% provider_login_url 'google' %}" class="login-link">
                    <div class="google login-button-small"><img class="login-logo" src="{% static "g-logo.png" %}">
                    <div class="login-text">Google</div>
                    </div>
                </a>
                <a href="{% provider_login_url 'facebook' %}" class="login-link">
                    <div class="facebook login-button-small"><img class="login-logo" src="{% static "f_logo_RGB-White_1024.png" %}">
                    <div class="login-text">Facebook</div>
                    </div>
                </a>
            </div>
            <div class="forgot-signup">
                <a href="/register">Sign up</a>
                <a href="#">Forgot password</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}