{% extends "main/base.html" %}

{% block content %} 

{% load crispy_forms_tags %}         
{% load socialaccount %}
{% load static %}

<!--Register--> 
<div class=container>
	<div class="form" id="login-container">
		<a href="{% provider_login_url 'google' %}" class="login-link">
			<div class="google login-button"><img class="login-logo" src="{% static "g-logo.png" %}">
			<div class="login-text">Continue with Google</div>
			</div>
		</a>
		<a href="{% provider_login_url 'facebook' %}" class="login-link">
			<div class="facebook login-button"><img class="login-logo" src="{% static "f_logo_RGB-White_1024.png" %}">
			<div class="login-text">Continue with Facebook</div>
			</div>
		</a>
			
	</div>
	<div class="form" id="register-container">
		<h1>Register with Splinky:</h1>
		<form method="POST", id="register-form">
			{% csrf_token %}

			{{ register_form|crispy }} 
                    
			<button type="submit" class="register-button">Register</button>
		</form>
		<p>If you already have an account, <a href="/login">log in</a> instead.</p>
	</div>
</div>

{% endblock %}