body {
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100%;
	margin: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



h1 {
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
}

input, button {

	text-align: center;
	font-size: 16px;
	color: rgb(255, 255, 255);
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: none;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
}

button {
	margin: 5px auto;
    padding: 12px 20px;
	display:inline-block;
	transition: background-color 0.2s ease;
	border: none;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	
}

input {
    margin: 5px auto 20px auto;
    padding: 12px 20px;
}

button:hover {
	background: rgba(255, 255, 255, 0.5);
	color: white;
}

input:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
}

input:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

input::placeholder {
	color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
}

label {
	text-align: left;
	width: 100%;
	height: auto;
	display: inline-block;
}

a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	white-space: nowrap;
}

a:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

nav a {
	display: inline-block;
	padding: 15px 20px;
	color: rgba(255, 255, 255, 1);
}

nav a:hover {
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

li {
	list-style-type: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(12px);
	box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
	height:max-content;
	padding: 0 10px;
	position: fixed;
  	top: 0;
	width: 100%;
	z-index: 1;
}


.container {
	align-content: center;
	display: flex;
	flex: 1 1 auto;
	overflow-y: auto; 
	margin-top: 49px;
	padding: 49px 0;
	flex-direction: column;
}

.form {
	position: relative;
	display: grid;
	text-align: center;
	max-width: 450px;
	min-width: 250px;
	width: 30vw;
	margin: 49px auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(12px);
	box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}

.forgot-signup {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: unset;
	padding: 0;
	margin: 0
}

.Oauth {
	width: 14rem;
	height: auto;
	margin: 5px;
}

.logo {
	padding: 0 5px;
}

.logo:hover {
	background: none;
}

#nav-logo {
	max-height: 39px;
	width: auto;
	padding: 5px;
	filter: invert(100%);
	opacity: 0.8;
}

.icon {
	color: rgba(255, 255, 255, 0.8);
	margin: 5px 10px 5px 10px;
	font-size: 28px;
}

.searchbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 50px;
	border: 1px solid #dadce0;
	height: 38px;
	margin: 0 5px 2px 5px;
	width: fit-content;
	padding: 0 5px;
}

#search-icon {
	display: inline-block;
}

#search-icon:hover{
	cursor:default;
}

#search-input {
	border: 0;
	width: 90%;
	height: 70%;
	margin: 5px;
	padding: 0;
	background: none;
	text-align: left;
	font-size: 18;
	backdrop-filter: none;
	box-shadow: none;
}

#search-ul {
	display: table;
	width: 50%;
}


#sign-in:hover {
	background: rgba(255, 255, 255, 0.4);
	color: white;
}

#login-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	filter: invert(100%);
	opacity: 0.8;
}

#register-container {
	min-width: 80%;
	margin: auto auto 49px auto;
}

.register-button {
	margin-top: 40px;
}

#register-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* Django-specifc stylings. */

.emailinput, .textinput {
	margin: 5px auto;
}

.controls ul, p {
	font-size: 14px;
	margin: 5px;
	color: rgba(255, 255, 255, 0.8);
}

.controls ul {
	padding-left: 20px;
}

.controls li {
	list-style-type: disc;
}

.control-group {
	text-align: left;
	flex: 0 0 100%;
}

.control-label {
	margin: 20px 5px 0 5px;
}

#div_id_first_Name, #div_id_last_Name {
	flex: 1 0 100%
}

@media all and (min-width: 700px) {
	#div_id_first_Name{
		flex-basis: 40%;
		padding-right: 10px;
	}
}

@media all and (min-width: 700px) {
	#div_id_last_Name {
		flex-basis: 40%;
		padding-left: 10px;
	}
}

ul.messages {
	list-style-type: none;
	position: relative;
	display: flex;
    height: max-content;
	padding: 0;
	margin: 0;
}

ul.messages li{
	list-style-type: none;
	position: relative;
	display: flex;
    padding: 20px 40px;
    height: max-content;
	width: 100%;
}

.info {
	background: rgba(66, 100, 255, 0.4);
}

.success {
	background: rgba(47, 253, 157, 0.4);
}

.error {
	background:rgba(252, 16, 16, 0.26)
}