body {
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100%;
	margin: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
	overflow-y: hidden;
	overflow-x: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



h1 {
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 800;
}

input, button, select {

	text-align: center;
	font-size: 16px;
	color: rgb(255, 255, 255);
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: none;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0);
	box-shadow: 0 13px 21px rgba(0, 0, 0, 0.05);
	margin: 5px auto;
    padding: 12px 20px;
}

button {
	display:inline-block;
	transition: background-color 0.2s ease;
	border: none;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	
}

button:hover {
	background: rgba(255, 255, 255, 0.5);
	color: white;
}

input:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
}

input:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

input::placeholder {
	color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
}

option {
	text-align: left;
	border-radius: 5px;
}

option:hover {
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
}

select:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

label {
	text-align: left;
	width: 100%;
	height: auto;
	display: inline-block;
	margin: 20px 5px 0 5px;
}

a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	white-space: nowrap;
}

a:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

nav a {
	display: inline-block;
	padding: 15px 20px;
	color: rgba(255, 255, 255, 1);
}

nav a:hover {
	background: rgba(255, 255, 255, 0.2);
	text-decoration: none;
}

li {
	list-style-type: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(12px);
	box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
	height:max-content;
	padding: 0 10px;
	position: fixed;
  	top: 0;
	width: 100%;
	z-index: 1;
	min-width: fit-content;
}


.container {
	align-content: center;
	display: flex;
	flex: 1 1 auto;
	overflow-y: auto; 
	margin-top: 49px;
	padding: 49px 0;
	flex-direction: column;
	min-width: 490px;
}

.form {
	position: relative;
	display: grid;
	text-align: center;
	max-width: 450px;
	min-width: 250px;
	width: 30vw;
	margin: 49px auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(12px);
	box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
}

.forgot-signup {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: unset;
	padding: 0;
	margin: 0
}

.Oauth {
	width: 14rem;
	height: auto;
	margin: 5px;
}

.logo {
	padding: 0 5px;
}

.logo:hover {
	background: none;
}

#nav-logo {
	max-height: 39px;
	width: auto;
	padding: 5px;
	filter: invert(100%);
	opacity: 0.8;
}

.icon {
	color: rgba(255, 255, 255, 0.8);
	margin: 5px 10px 5px 10px;
	font-size: 28px;
}

.searchbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 50px;
	border: 1px solid #dadce0;
	height: 38px;
	margin: 0 5px 2px 5px;
	width: fit-content;
	padding: 0 5px;
}

#search-icon {
	display: inline-block;
}

#search-icon:hover{
	cursor:default;
}

#search-input {
	border: 0;
	width: 90%;
	height: 70%;
	margin: 5px;
	padding: 0;
	background: none;
	text-align: left;
	font-size: 18;
	backdrop-filter: none;
	box-shadow: none;
}

#search-ul {
	display: table;
	width: 50%;
}

#login-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	filter: invert(100%);
	opacity: 0.8;
}

#register-container {
	min-width: 80%;
	margin: auto auto 49px auto;
}

#register-button {
	margin-top: 40px;
}

#sign-in-button {
	margin-top: 30px;
}

#register-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* login buttons */

#login-container {
	min-width: 80%;
	margin: auto auto 49px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, max-content));
	column-gap: 16px;
	justify-content: center;
}

#login-container-small {
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, max-content));
	column-gap: 16px;
	justify-content: center;
}

	.login-link {
		padding: 10px 0;
	}

	.login-link:hover {
		text-decoration: none;
	}

		.login-button-small {
			border-radius: 12px;
			padding: 12px;
			width: 150px;
			display: flex;
			box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
			transition: box-shadow 0.2s ease;
		}

		.login-button {
			border-radius: 5px;
			padding: 12px;
			width: 250px;
			display: flex;
			box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
			transition: box-shadow 0.2s ease;
		}

			.facebook {
				background-color: rgb(24, 119, 242);
				color: white;
			}

			.facebook:hover {
				box-shadow: 0 0 12px white;
			}

			.google {
				background-color: white;
				color: rgb(90, 90, 90);
			}

			.google:hover {
				box-shadow: 0 0 12px #4285F4;
			}

				.login-logo {
					height: auto;
					width: 25px;
					display: inline-block;
				}

				.login-text {
					display: inline-block;
					font-family: "Roboto", sans-serif;
					font-weight: 800;
					width: 100%;
					align-self: center;
				}


/* Profile settings */

.profile_pic {
	height: auto;
	width: 100%;
	display: inline-block;
}

#profile {
	padding: 49px;
}

	#profile h1 {
		margin: 0 auto;
		color: white;
		font-weight: 9000;
	}

	#personal-info {
		width: max-content;
		padding: 20px;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 12px;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		border-right: 1px solid rgba(255, 255, 255, 0);
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(12px);
		box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1);
		display: grid;
		grid-template-columns: 250px max-content;
		column-gap: 20px;
	}

	.profile-card {
		display: grid;
		grid-template-rows: max-content max-content;
	}

		#profile-fields	{
			display: grid;
			grid-template-columns: max-content max-content;
			column-gap: 10px;
			margin: 10px auto;
		}	

		#profile-fields h5, p {
			margin: 5px;
			width: max-content;
		}

			#nationality-icon {
				height: 25%;
				margin: auto 0;
			}



/* Django-specifc stylings. */


.controls ul, p {
	font-size: 14px;
	margin: 5px;
	color: rgba(255, 255, 255, 0.8);
}

.controls ul {
	padding-left: 20px;
}

.controls li {
	list-style-type: disc;
}

.control-group {
	text-align: left;
	flex: 0 0 100%;
}

.selectmultiple {
	height: 154px;
}

#div_id_first_name, #div_id_last_name, #div_id_gender, #div_id_date_of_birth {
	flex: 1 0 100%
}

	@media all and (min-width: 700px) {
		#div_id_first_name {
			flex-basis: 40%;
			padding-right: 10px;
		}
	}

	@media all and (min-width: 700px) {
		#div_id_last_name {
			flex-basis: 40%;
			padding-left: 10px;
		}
	}

	@media all and (min-width: 700px) {
		#div_id_date_of_birth {
			flex-basis: 40%;
			padding-right: 10px;
		}
	}

	@media all and (min-width: 700px) {
		#div_id_gender {
			flex-basis: 40%;
			padding-left: 10px;
		}
	}

	#div_id_date_of_birth div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 5px;
	}

ul.messages {
	list-style-type: none;
	position: relative;
	display: flex;
    height: max-content;
	padding: 0;
	margin: 0;
}

ul.messages li{
	list-style-type: none;
	position: relative;
	display: flex;
    padding: 20px 40px;
    height: max-content;
	width: 100%;
}

.info {
	background: rgba(66, 100, 255, 0.4);
}

.success {
	background: rgb(33, 218, 156);
}

.error {
	background:rgba(252, 16, 16, 0.26)
}